.flex-parent {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.flex-item {
    width: 100%;
}

@media screen and (min-width: 600px) {
    @media screen and (max-height: 850px) {
        .container {
            width: 30%;
            padding: 3em 1em;
        }
        .flex-parent {
            flex-direction: row;
        }

        input[type = 'email'],
        input[type = 'password'],
        input[type = 'text'],
        select {
            width: 75%;
        }

        input[type = 'submit'] {
            width: 35%;
        }
    }
}
