html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color-roc-orange {
    background-color: #EE7326;
}

.color-roc-black {
    background-color: black;
}

.color-kerntaak-frontend {
    background-color: #04D900;
}

.color-kerntaak-backend {
    background-color: #0090CD;
}

.color-kerntaak-regulier {
    background-color: #FFFF00;
}

.color-kerntaak-keuzedeel {
    background-color: #DF0000;
}

.container {
    background-color: white;
    align-content: center;
}