/*
CSS door Sander Borgman en Kenny Meijer
*/

/* Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.text-center {
  text-align: center;
}

.text-align-middle {
  margin: 0;
  padding: 1.5em 1.5em;
  text-align: center;
}

.text-center-margin {
  margin: 0 auto 0 auto;
}

.color-roc-white-text {
  color: white;
}

.color-roc-orange {
  background-color: #ee7326;
}

.color-roc-orange-text {
  color: #ee7326;
}

.color-roc-black {
  background-color: black;
}

.color-kerntaak-frontend {
  background-color: #04d900;
}

.color-kerntaak-backend {
  background-color: #0090cd;
}

.color-kerntaak-regulier {
  background-color: #ffff00;
}

.color-kerntaak-keuzedeel {
  background-color: #df0000;
}

.container {
  background-color: #fff;
  margin-bottom: 40px;
}

/* Mobile */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
}

.logo {
  width: 220px;
  height: 90px;
}

/* knop voor dropdown */
.hamburger {
  padding: 15px 15px;
}

.profile {
  display: none;
}

.profile-menu {
  display: none;
}

.hamburger:active {
  background-color: #d66822;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.planning {
  width: 320px;
  margin: 21px auto 0 auto;
  padding-bottom: 21px;
  border: rgba(153, 153, 153, 0.322) solid 1px;
  border-radius: 10px;
}

.planning h2,
.planning h3,
.planning p {
  margin: 10px 0 0 10px;
}

.planning-create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  margin: 20px auto;
  border-radius: 10px;
}

.subjects {
  margin-top: 21px;
}

.subject-container {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  gap: 5px;
  width: 290px;
  min-height: 150px;
  margin: 20px auto 0 auto;
  padding-top: 20px;
  background-color: #f8f9fa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
}

.subject-container__text {
  flex-grow: 1;
}

.subject-color-container {
  width: 53px;
  height: 13px;
  margin: 7px 0 0 15px;
  border-radius: 200px;
}

.subject-text-lower {
  padding-top: 35px;
}

.panel {
  padding: 0 18px;
  text-align: center;
  background-color: #f8f9fa;
  width: 290px;
  max-height: 0;
  margin: 0 auto 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.grades {
  width: 320px;
  margin: 21px auto 21px auto;
  padding-bottom: 21px;
  border: rgba(153, 153, 153, 0.322) solid 1px;
  border-radius: 10px;
}

.grade-container {
  display: flex;
  justify-content: space-between;
}

.grade {
  margin-right: 20px;
}

.grades h2,
.grades p {
  margin-top: 10px;
  margin-left: 10px;
}

.progression-meter {
  box-sizing: content-box;
  height: 18.4px;
  position: sticky;
  bottom: 0;
  margin: 0 0 0 0;
  background: linear-gradient(to right, #ee7326 5%, #b7b7b7 0);
  padding: 0;
  text-align: center;
}

/*
.progression-meter-empty-test > .progression-meter-filler-test {
  display: block;
  height: 100%;
  width: 5%;
  background-color: #ee7326;
  position: relative;
  overflow: hidden;
}*/

/* Tablet */
@media all and (min-width: 768px) {
  .planning-and-grades {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
    grid-template-areas: ". planning grades .";
  }

  .planning {
    grid-area: planning;
    width: 320px;
    margin: 21px auto 0 auto;
    padding-bottom: 21px;
    border: rgba(153, 153, 153, 0.322) solid 1px;
    border-radius: 10px;
  }

  .grades {
    grid-area: grades;
    width: 320px;
    margin: 21px auto 0 auto;
    padding-bottom: 21px;
    border: rgba(153, 153, 153, 0.322) solid 1px;
    border-radius: 10px;
  }

  .subjects {
    display: grid;
    width: 620px;
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
    grid-auto-rows: minmax(auto, auto);
    margin: 21px auto 0 auto;
  }
}

/* Desktop */

@media all and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 15px;
    position: relative;
    margin: 40px 20px;
    height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .header.color-roc-orange {
    background-color: #fff;
  }

  .hamburger {
    display: none;
  }

  .profile {
    display: block;
    margin-right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #999;
    cursor: pointer;
  }

  .profile-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 250px;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.075);
    position: absolute;
    top: -30px;
    right: -10px;
  }

  .profile-menu a {
    color: #000;
  }

  .planning-and-grades {
    display: flex;
    flex-direction: column;
  }

  .subjects {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
    gap: 70px;
    margin: 0 0 50px 50px;
    height: 50vh; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 70px;
    height: 60%;
    width: 100%;
    margin: 0 0 0 50px;
  }

  .panel {
    position: absolute;
  }
}
